.containerImg{
    display: flex;
    justify-content:space-around;
    align-items: center;
   margin-left: 10px;
   margin-right:10px;
    gap:20px;
    flex-direction: "column";
     height:400px;
     width:100%;
     overflow: hidden;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
   transition:box-shadow 0.3s ease;
   height:500px;
}
.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.card-image{
   transition: transform 0.6s ease; /* speed control */
}
.card:hover .card-image{
   transform: scale(1.10);
}
.explore-btn-wrapper {
  position: absolute;
  bottom: 20px;
  left: 20px;
}