.screen-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 136, 136, 0.5); /* light overlay */
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(121, 119, 119);
  z-index: 0.5;
}

.content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content button {
  margin-top: 1.5rem;
  padding: 12px 24px;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.content button:hover {
  background-color: rgb(237, 228, 228);
  color: white;
}

